$font-type-title: 'Concert One', cursive;
$font-type-paragraph: 'Bai Jamjuree', sans-serif;
//Font Size
$font-size-sm: clamp(0.75rem, 0.34vw + 0.66rem, 0.94rem);
$font-size-base: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
$font-size-md: clamp(1.33rem, 0.61vw + 1.18rem, 1.67rem);
$font-size-lg: clamp(1.78rem, 0.81vw + 1.57rem, 2.22rem);
$font-size-xl: clamp(2.37rem, 1.08vw + 2.1rem, 2.96rem);
$font-size-xxl: clamp(3.16rem, 1.44vw + 2.8rem, 3.95rem);
$font-size-xxxl: clamp(4.21rem, 1.91vw + 3.73rem, 5.26rem);
//Color
$color-title: #094067;
$color-text: #4B5561;
$color-text-secondary: #FFFFFE;
$color-background: #D8EEFE;
$color-background-secondary: #FFFFFE;
$color-background-third: #cfe7f9;
$color-block: #1C70AD;
$color-block-secondary: #094067;
$color-lilypad: #B2DFDB;
$color-lilypad-border: #9BD5D0;
$color-button: #B2DFDB;
//Hover
$color-hover-button: #78C5BE;
$color-hover-link: #094067;